[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pyqt5 = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.9"
